.contactUs{
    &__form{
        // background-color: red;
        box-shadow:  0 0 4px $color-secondary;
        background-color: $color-main;
        padding: 2rem 5rem; 
        border-radius: 10px;
        width: 100%;
        text-align: center;
    }


    input,select{
        display : block;
        margin-bottom: .9rem;
        padding: .5rem ;
        margin-top: .2rem;
        border-radius: 5px;
        background-color: transparent;
        color: $color-lite;
        width: 15rem;
        border: none;
        outline: none;
        border: 1px solid $color-dark;
        &::placeholder,&::-webkit-calendar-picker-indicator {
            color: $color-lite;
        }

        &:active,&:visited,&:focus{
            border-color: $color-dark;
            outline-color: $color-dark;
            background-color: $color-secondary;

        }
    }
    h2{
        margin-bottom: 1rem;
        font-weight: 900;
        color: $color-lite;
    }
    input[type='submit']{
        background-color: $color-secondary;
        padding: .2rem ;
        text-align: center;
        font-weight: 800;
        border-radius: 0%;
        width: 60%;
        margin: auto;
    }

}


.aboutus{
    width: 100%;
    overflow: hidden;
 &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
 }
  
}
@media screen  and (max-width:450px) {
  .contactUs{
    &__form{
        padding: .5rem 1rem;
    }
  }
}
