.app__Product{
    margin:2rem;
    background-color: $color-grey;
    display: flex;
    justify-content: center;
    width: 20rem;
    min-width: 20rem;
    transition: 3s all cubic-bezier(0.42, 0, 1, -0.51);
    margin-left: 2rem !important;

    &__container{
        text-decoration: none;
        color: black;
        padding: 1rem;
        &:hover &__img{ 
            
            img{opacity: .5;} p {display: inline;}}

        &__img{
            position: relative;
            height: 12rem;
            background-color: black;

            img{
                width: 100%;
                height: 100%;
             transition: .1s all cubic-bezier(0.42, 0, 1, -0.51);

            }
            p{
             transition: .8s all cubic-bezier(0.42, 0, 1, -0.51);

                position: absolute;
                top: 0%;
                left: 25%;
                color: white;
                transform: translate(-50%);
                font-size: 1.5rem;
                font-weight: 700;
                display: none;
            }
        }

        &__content{
            &__text{
                text-align: start;
                h2{
                    font-weight: 500;
                    font-size: 1.3rem;
                    white-space: normal;
                    
                }
                span{
                    margin: 1rem 0;
                    display: flex;
                    align-items: center;
                    white-space: normal;
                }
                p{
                    b{font-size: 1.5rem; white-space: normal;}
                }
            }
            &__location{
                display: flex;
                flex-direction: row;
                align-items: center;
                svg{font-size: 1.75rem; color: $color-blue; margin-right: .5rem;}
            }
            &__icons{
                display: flex;
                &__icon{
                    margin-top: 1rem;
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: .2rem .5rem;
                    svg{font-size: 1.75rem; color: $color-blue; margin-right: .5rem;}
                    &:nth-of-type(2){
                        border-left: 1px solid gray;
                        border-right: 1px solid gray;

                    }
                }
            }
        }
    }
}

.app__Home-product-slider{
    width: 80%;
    margin: auto;
    padding: 4rem 0;
    text-align: center;
}

.Product-Container{
    display: flex !important; 
    align-items: center;
    justify-content: center;
}


.Search-Product-Page{
    overflow: hidden;
    width: 100%;
}
.Filter-Product{
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    &__container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        &__products{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}

@media screen and (max-width:1570px) {
    .Filter-Product{
        &__container{grid-template-columns: repeat(3,1fr);}
    }
}
@media screen and (max-width:1270px) {
    .app__Home-product-slider{
        width: 98%;
    }
}

@media screen and (max-width:1200px) {
    .Filter-Product{
        &__container{
            grid-template-columns: repeat(2,1fr);
            width: 100%;
        }
    }
}
@media screen and (max-width:920px) {.Filter-Product{ padding: 0%; }}
@media screen and (max-width:768px) {
    .Filter-Product{
        &__container{
            grid-template-columns: repeat(1,1fr);
        }
    }
}